<div id="contenedorFormularioParticipante">
<form class="col s12" action="/Controller/partePrivada/insertarParticipante.php" method="POST" id="formularioParticipante">
    <div class="row">
        <div class="file-field input-field col s9 m6 l3" id="codigoPersona">
            <select class="browser-default" name="codigo_persona" required>
                <option value="" disabled selected>Persona</option>
                {% for persona in personas %}
                    <option value="{{ persona.codigo_persona}}">{{ persona.nombre }}</option>
                {% endfor %}
            </select>
        </div>  
        <div class="file-field input-field col s9 m6 l3" id="codigoActividad">
            <select class="browser-default" name="codigo_actividad" required>
                <option value="" disabled selected>Actividad</option>
                {% for actividad in actividades %}
                    <option value="{{ actividad.codigo_actividad }}" >{{ actividad.titulo }}</option>
                {% endfor %}
            </select>
        </div>
            
        <div class="input-field col s9 m6 l3" id="codigoPerfil">
            <select class="browser-default" name="codigo_perfil" required>
                <option value="" disabled selected>Perfiles</option>
                {% for perfil in perfiles %}
                    <option value="{{ perfil.codigo }}">{{ perfil.descripcion }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>
</div>

