<table id="tablaMisActividades" class="table-centered responsive-table">
    <tr>
        <td>Actividades</td>
        <td>Perfiles</td>
    </tr>
    {% for participante in participantes %}
        <tr>
            <td>{{ participante.titulo }}</td>
            <td>{{ participante.descripcion }}</td>
                <td>
                    <div class="icons-container ">
                        <a href="#" data-action="borrar" data-id="{{ participante.id }}" class="icons"><i class="fa fa-times"></i></a>
                    </div>
                </td>
        </tr>
    {% endfor %}
</table>

<div class="center-align">
    <ul class="pagination" id="paginacion" data-pagina="{{pagina}}">
        {% if pagina > 3 %}
            <li class="colorPagina" data-pagina="1"><a href="#">Primera</a></li>
            {% endif %}

        {% if pagina > 1 %}
            <li class="colorPagina" data-pagina="{{(pagina - 1)}}"><a href="#">Anterior</a></li>
            {% endif %}

        {% for numero in arrayNumeros %}
            {% if numero == pagina %}
                <li class="paginaActual" data-pagina="{{numero}}"><a href="#">{{numero}}</a></li>
                {% else %}
                <li class="colorPagina" data-pagina="{{numero}}"><a href="#">{{numero}}</a></li>
                {% endif %}
            {% endfor %}

        {% if pagina < totalPaginas %}
            <li class="colorPagina" data-pagina="{{(pagina + 1)}}"><a href="#">Siguiente</a></li>
            {% endif %}

        {% if pagina < (totalPaginas - 2) %}
            <li class="colorPagina" data-pagina="{{totalPaginas}}"><a href="#">Última</a></li>
            {% endif %}
    </ul>
</div>
